{% extends "layout.html" %}

{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_site') }}" method="post" class="add_site">
      <dl>
        <dt>Site title:</dt>
        <dd><input type="text" size="30" name="title"></dd>
        <dt>URL:</dt>
        <dd><input type="text" size="50" name="url"></dd>
        <dt>Description:</dt>
        <dd><textarea name="description" rows="5" cols="40"></textarea>
        <dt>Source Code:</dt>
        <dd><input type="text" size="50" name="source_url"></dd>
        <dd><input type="submit" value="Share"></dd>
      </dl>
    </form>
  {% endif %}
{% endblock %}
