{% extends "layout.html" %}

{% block title %}
{{ site.title|truncate(25, True) }} :: {{ super() }}
{% endblock %}


{% block breadcrumb %}
  <li><a href="{{ url_for('index') }}">Home</a><span class="divider">/</span></li><li class="active">{{ site.website|shorter_url }}</li>
{% endblock %}


{% block alert %}
  {{ super() }}
  {% if error %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ error }}
    </div>
  {% endif %}
{% endblock %}


{% block main %}
<div class="row">
  <div class="span12">
    <ul class="unstyled">
      <li><h1>{{ site.title|wordwrap(40)|title }}</h1></li>
      <li><p class="lead">{{ site.description|markdown("escape")|safe }}</p></li>
      <li class=""><div class="thumbnail large-thumbnail">
          <a href="{{ site.website }}">
            <img alt="thumbnail" src="{{ site.website|thumbnail(size='930x698') }}" data-src="">
      </a>
      </div></li>

      <div class="clearfix"></div>
      <div class="well">
        <li><strong>URL</strong>: {{ site.website|urlize }}</li>
        <li><strong>Tags</strong>:
          {% for tag in site.tags %}
          <a href="{{ url_for('tagged', tag_name=tag.name) }}">#{{ tag.name }}</a>
          {% endfor %}
        </li>
        <li><strong>Source Code</strong>: {{ site.source_url|urlize }}</li>
        <li><strong>Submitted by</strong>: <a href="{{ url_for('submitted_by', username=site.submitted_by.username)}}">{{ site.submitted_by.username }}</a> at {{ site.submitted_at|format_datetime }}</li>
      </div>
    </ul>
  </div>

  <!--<div class="span3">-->
    <!--<ul class="inline">-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
      <!--<li><a href="#">tag</a></li>-->
    <!--</ul>-->
  <!--</div>-->

</div>
{% endblock %}
