{% extends "layout.html" %}

{% block title %}
{{ site.title }} :: {{ super() }}
{% endblock %}


{% block breadcrumb %}
    <li><a href="/">Home</a><span class="divider">/</span></li>
    <li class="active">{{ site.website|shorter_url }}</li>
{% endblock %}

{% block main %}
<div class="row">
  <div class="span9">
    <ul class="unstyled">
      <li><h1>{{ site.title }}</h1></li>
      <li><p class="lead">{{ site.description }}</p></li>
      <li><p><a href="{{ site.website }}" class="thumbnail">
          <img src="{{ site.website|thumbnail }}" data-src="holder.js/500x400">
        </a></p></li>

      <div class="clearfix"></div>
      <div class="well">
        <li>URL: <a href="{{ site.website }}">{{ site.website }}</a></li>
        <li>Tags:
          {% for tag in site.tags %}
          <a href="{{ url_for('tagged', tag_name=tag.name) }}">{{ tag.name }}</a>
          {% endfor %}
        </li>
        <li>Source Code: <a href="{{ site.source_url }}">{{ site.source_url }}</a></li>
        <li>Submitted by: <a href="{{ url_for('submitted_by', username=site.submitted_by.username)}}">{{ site.submitted_by.username }}</a> at {{ site.submitted_at|format_datetime }}</li>
      </div>
    </ul>
  </div>

  <div class="span3">
    <ul class="inline">
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
    </ul>
  </div>

</div>
{% endblock %}
