{% extends "layout.html" %}


{% block notice %}
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Best check yourself, you're not looking too good.
  </div>
{% endblock %}


{% block main %}
  <div class="row">
    <div class="span10">
      <ul class="thumbnails">
      {% for site in sites.items %}
        <li class="span5">
          <div class="thumbnail">
            <h5>{{ site.title }}</h5>
            <a href="{{ url_for('show_site', site_id=site.id) }}" class="">
              <img src="{{ site.website|thumbnail }}" data-src="holder.js/350x240">
            </a>
            <p>{{ site.submitted_at|format_datetime }}</p>
          </div>
        </li>
      {% endfor %}
      </ul>
      {{ pagination.links|safe }}

    </div>

  <div class="span2">
    <ul class="inline">
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
      <li><a href="#">tag</a></li>
    </ul>
  </div>

  </div>
{% endblock %}
