{% extends "layout.html" %}


{% block title %}
  {% if mine %}
  Sites Submitted By You :: {{ super() }}
  {% elif username %}
  Sites Submitted By {{ username }} :: {{ super() }}
  {% elif tag_name %}
  Sites Tagged "{{ tag_name }}" :: {{ super() }}
  {% elif keyword %}
  Search Results For {{ keyword }} :: {{ super() }}
  {% elif opensource %}
  Sites OpenSource :: {{ super() }}
  {% else %}
  {{ super() }}
  {% endif %}
{% endblock %}


{#% block notice %}
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Best check yourself, you're not looking too good.
  </div>
{% endblock %#}

{% block alert %}
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Collecting sites powered by Flask.
  </div>
  {{ super() }}
{% endblock %}


{% block breadcrumb %}
  {% if request.path == url_for('index') %}
    {{ super() }}
  {% else %}
    <li><a href="{{ url_for('index') }}">Home</a><span class="divider">/</span></li>
    {% if mine %}
    <li class="active">Sites Submitted by you</li>
    {% elif username %}
    <li class="active">Sites Submitted By {{ username }}</li>
    {% elif tag_name %}
    <li class="active">Sites Tagged "{{ tag_name }}"</li>
    {% elif keyword %}
    <li class="active">Search Results For {{ keyword }}</li>
    {% elif opensource %}
    <li class="active">Sites OpenSource</li>
    {% else %}
    {{ super() }}
    {% endif %}
  {% endif %}
{% endblock %}


{% block main %}
  <div class="row">
    <div class="span12">
      <ul class="thumbnails">
      {% for site in sites.items %}
        <li class="span4 small-thumbnail">
          <div class="thumbnail">
            <h5>{{ site.title }}</h5>
            <a href="{{ url_for('show_site', site_id=site.id) }}" class="">
              <img src="{{ site.website|thumbnail }}" data-src=""
              onerror=this.src="{{ url_for('static', filename='img/290x218.png') }}">
            </a>
            <!--<p>{{ site.submitted_at|format_datetime }}</p>-->
          </div>
        </li>
      {% endfor %}
      </ul>
      {{ pagination.links|safe }}

    </div>

  </div>
{% endblock %}
