<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}FlaskSites{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  {% endblock %}
    <style>
      .navbar-fixed-top {
        margin-bottom: 20px;
      }
      #main {
        //border: solid #EEE 1px;
        //padding-top: 20px;
      }
      .span12 .thumbnails .span4 {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        max-height: 300px;
      }
    </style>
  </head>
  <body style="padding-top:60px;" data-offset="50">

    <!-- navbar -->
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="/">FlaskSites</a>
          <ul class="nav">
            <li {% if request.path == url_for('all_tags') %}class="active" {% endif %}><a href="{{ url_for('all_tags') }}">Tags</a></li>
            <li {% if request.path == url_for('opensource') %}class="active" {% endif %}><a href="{{ url_for('opensource') }}"">OpenSource</a></li>
            <li><a href="">About</a><li>
            <li>
              <form class="navbar-search pull-left" action="{{ url_for('search') }}" method="get">
                <input placeholder="Search Sites" name="q" type="text" class="search-query" {% if keyword %}value="{{ keyword}}"{% endif %}>
              </form>
            </li>
          </ul>
          <ul class="nav pull-right">
          {% if current_user.is_authenticated() %}
            <li><a href="{{ url_for('add_site') }}">Submit</a></li>
            <li><a href="{{ url_for('mine') }}">{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('settings') }}">Perference</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
            <li><a href="{{ url_for('register') }}">Create Account</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
          {% endif %}
          </ul>

        </div>
      </div>
    </header>
    <!-- end navbar -->

    <!-- main -->
    <div class="container">

      <ul class="breadcrumb ">
      {% block breadcrumb %}
        <li class="active">Home</li>
      {% endblock %}
      </ul>

      {% block alert %}
        {% for message in get_flashed_messages() %}
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endblock %}

      <div id="main" class="container">
        {% block main %}
        {% endblock %}
      </div>

    </div>


  {% block js %}
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.js"></script>
  {% endblock %}


  <div class="clearfix"></div>
  <footer class="footer">
  {% block footer %}
    <div class="container">
      <ul class="inline">
        <li>About</li>
        <li><a href="https://github.com/mozillazg/flask-sites">Source Code</a></li>
      </ul>
    </div>
  {% endblock %}
  </footer>

  </body>
</html>
